#redirect-section {
    display: flex;
    flex-direction: column;
    background-color: var(--beige-50);
    position: relative;
    height: 100dvh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-inline: clamp(1.6rem, -0.3417rem + 8.2848vw, 9.6rem);


    h3 {
        color: var(--dark-blue);
        margin-top: 0;
        text-align: center;
    }

    #buttons {
        position: absolute;
        bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    #titles {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .btn-top {
        background-color: var(--orange-50);
        color: var(--dark-blue);
    }

    .btn-top:hover {
        background-color: #FAB47FCC;
    }
}