#chapter-item {
    display: flex;
    height: 100dvh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    
    video{
        object-fit: cover;
        min-height: 100dvh;
        min-width: 100vw;
        z-index: 25;
    }

    .modal-detail {
        height: 100dvh;
        width: 100%;
        transition: top 0.8s;
        position: fixed;
        left: 0;
        top: -100dvh;
        background-color: var(--dark-blue);
        background-blend-mode: multiply;
        backdrop-filter: blur(16px);
    }

    .change-modal-detail {
        top: 0;
    }
}